<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postback Builder</title>
</head>
<body>
<label>
    <hi>MCANISM ScriptBuilder</hi>
    <br>
    <br>
    cid:
    <input type="text" name="cid" placeholder="cid" required/>
    <br>
    eid:
    <input type="text" name="eid" placeholder="eid" required/>
    <br>
    id variable:
    <input type="text" name="id" placeholder="id" required/>
    <br>
    amount variable:
    <input type="text" name="amount" placeholder="amount" required/>
    <br>
    <br>



</label>
<br>
<input type="submit" value="Submit"/>


</body>
</html>