<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCANISM Publisher Landingpage</title>
    <link href="/images/favicon.png" rel="icon" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<h1 class="container mt-4">Welcome to MCANISM Publisher Support Center</h1>
</body>
<footer class="bg-dark text-white text-center py-3 mt-5">
    <p>&copy; 2025 <a href="https://www.mcanism.com" class="text-white"
                      target="_blank">mcanism.com</a> | <a href="https://www.mcanism.com/imprint" class="text-white"
                                                           target="_blank">Imprint</a></p>
</footer>
</html>