<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container mt-5">
    <h1 class="text-center text-primary">Template List</h1>

    <table class="table table-bordered mt-4">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Beschreibung</th> <!-- Neue Spalte für die Beschreibung -->
            <th>Sale Content</th>
            <th>Lead Content</th>
            <th>Install Content</th>
            <th>Amount Placeholder</th>
            <th>ID Placeholder</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="template : ${templates}">
            <td>
                <a th:href="@{/template/edit/{name}(name=${template.name})}" th:text="${template.name}"></a>
            </td>
            <td th:text="${template.description}"></td> <!-- Beschreibung hinzufügen -->
            <td th:text="${template.saleContent}"></td>
            <td th:text="${template.leadContent}"></td>
            <td th:text="${template.installContent}"></td>
            <td th:text="${template.amountPlaceholder}"></td>
            <td th:text="${template.idPlaceholder}"></td>
            <td>
                <form th:action="@{/template/delete/{name}(name=${template.name})}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer class="bg-dark text-white text-center py-3 mt-5">
    <p>&copy; 2024 mcanism.com | <a href="https://www.mcanism.com/imprint" class="text-white" target="_blank">Imprint</a></p>
</footer>
</body>
</html>
