<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template Content</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function copyToClipboard(id) {
            var copyText = document.getElementById(id);
            copyText.select(); // Wählt den Text im Textfeld aus
            document.execCommand("copy"); // Kopiert den ausgewählten Text in die Zwischenablage
        }
    </script>
    <style>
        .textarea-container {
            position: relative;
        }

        .copy-button {
            position: absolute;
            top: 5px; /* Abstand vom oberen Rand */
            right: 0px; /* Abstand vom rechten Rand */
            z-index: 1; /* Damit der Button über dem Textfeld bleibt */
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1>Template Content</h1>

    <div class="mt-4">
        <h2>Description:</h2>
        <p th:utext="${description}" style="text-align: left;"></p> <!-- Hier wird die Beschreibung angezeigt -->
        <br>
        <br>
        <br>
    </div>

    <div>
        <h2>Step 1</h2>
        <h4>This Init Script has to be placed on every side Exept the Checkout Page. No changes needed!</h4>
    </div>
    <div class="mt-4 textarea-container">
        <h2>Init Script:</h2>
        <button type="button" class="btn btn-secondary copy-button" onclick="copyToClipboard('init')">Kopieren</button>
        <textarea rows="1" cols="50" id="init" th:text="'<script src=&quot;https://api.skynet.mcanism.com/static/js/init.js&quot;></script>'" readonly class="form-control"></textarea>
        <br>
        <br>
        <br>
    </div>

    <div>
        <h2>Step 2</h2>
        <h4>This is the Tracking-Script. It should be placed on the Checkoutpage e.g. the last Page that confirms the order.</h4>
    </div>

    <form th:action="@{/template/generate}" method="post" class="mt-4">
        <input type="hidden" name="content" th:value="${content}">
        <input type="hidden" name="description" th:value="${description}">

        <div class="form-group">
            <label for="eid">EID:</label>
            <input type="text" id="eid" name="eid" th:value="${eid}" required class="form-control"/>
        </div>
        <div class="form-group">
            <label for="cid">CID:</label>
            <input type="text" id="cid" name="cid" th:value="${cid}" required class="form-control"/>
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" th:value="${amount}" required class="form-control"/>
        </div>
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" th:value="${id}" required class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Generate</button>
    </form>

    <div class="mt-4 textarea-container">
        <h2>Generated Tracking-Script:</h2>
        <button type="button" class="btn btn-secondary copy-button" onclick="copyToClipboard('generatedContent')">Kopieren</button>
        <textarea rows="10" cols="50" id="generatedContent" th:text="${generatedContent}" readonly class="form-control"></textarea>
    </div>

    <br>
    <br>
</div>
<footer class="bg-dark text-white text-center py-3 mt-5">
    <p>&copy; 2024 mcanism.com | <a href="https://www.mcanism.com/imprint" class="text-white" target="_blank">Imprint</a></p>
</footer>
</body>
</html>
